/*Revisar si ubicar el contenido de este css en el style.css*/

body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.board{
    width:600px;
    height:600px;
    border:solid 2px black;
    display:flex;
    flex-wrap: wrap;
}

.board div{
    width:25px;
    height:25px;
    border:solid 1px transparent;
    box-sizing: border-box;

}

.enemigo{ 
        background-image: url(../Imagenes/naveEnemiga.png);
        background-size: cover;
        background-repeat: no-repeat; 
        width: 25px; 
        height: 25px;   }

.naves{

    background-color: green;
}

.disparos{
    background-color: red;
}

.explotar{
    background-image: url(../Imagenes/explotar.jpg);
}